// Specific CSS for your home-page
@import "../components/_navbar";
@import "../components/_card";


// Body
body {
  background-color: #FF9F45;
  font-family: 'Montserrat';
}

//Banner design:
.banner {
  background-size: cover;
  background-position: top;
  padding: 100px 0;
  height: 600px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.banner p {
  font-size: 36px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.container h1 p {
  margin-top: 20px;
}

.btn-lg {
  color: white;
}

//Section headline
.section-headline {
  display: flex;
  font-size: 24px;
  color: white;
  justify-content: center;
  font-weight: lighter;
  font-family: 'Montserrat';
  padding: 24px;
  background-color: black;
  opacity: 0.4;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

// .cards-home {
//   margin-top: 24px;
// }

.cards-container-homepage h2 {
  margin-bottom: 20px;
}

// .cards img {
//   margin-top: 24px;
// }
