// Specific CSS for your home-page
@import "../components/_navbar";
@import "../components/_card";


// Body
body {
  background-color: $orange;
}

//Banner design:
.banner {
  background-size: cover;
  background-position: top;
  padding: 100px 0;
  height: 600px;
}

.banner h1 {
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 36px;
  color: $white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.container h1 p {
  margin-top: 20px;
}

.btn-lg {
  color: $white;
  transition: 0.5s;
}

.btn-lg:hover {
  transform: scale(1.1);
  color: $white;
  border: 2px solid $white;
}

//Section headline
.section-headline {
  display: flex;
  height: fit-content;
  color: $white;
  justify-content: center;
  font-weight: lighter;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: rgb(153,113,77);
  background: radial-gradient(circle, rgba(153,113,77,1) 0%, rgba(101,75,52,1) 100%);
}

/* -------------------MEDIA QUERIES-----------------------*/

/* MEDIUM DEVICE*/
@media screen and (max-width: 1024px) {


}

/* SMALL DEVICE*/
@media screen and (max-width: 600px) {
  .cards-home {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
