.form-centered {
  justify-content: center;
  margin: auto;
  padding: 32px;
  width: 60vw;
}
.new-capybara-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 24px;
}
