.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  box-shadow: 2px;
  margin: auto;
  position: relative
}
.booking-form {
  padding: 20px;

}

.product-picture {
height: 25vw;
width: 40vw;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
object-fit: cover;
}
.name h1 {
  position: absolute;
  top:32px;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}
