.showpage-title {
  margin-left: 56px;
}

.product-container-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  box-shadow: 2px;
  margin: auto;
  position: relative
}

.product-picture-profile {
height: 25vw;
width: 40vw;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
object-fit: cover;
}
.name h1 {
margin-bottom: 32px;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}
.name {
  justify-content: center;
  height: 25vw;
  width: 20vw;
  text-align: center;
  border-width: 6px;
  border-color: black;
  box-shadow: 2px;
  padding: 18px;
  background-color: #ff9f45;
}
.back-button {
  color: white;
}
