.profile-wrapper {
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.profile-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 11rem;
  p {
    font-size: 16px;
    margin: 0.5rem;
  }
}

.grid-row-span-2 {
  grid-row: span 2;
}
.profile {
  flex-direction: column;
  h3 {
    margin: 1rem 0.5rem;
  }
}

.profile-up {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.profile-avatar > img {
  height: 12vw;
  width: 12vw;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgba(252, 252, 252, 0.503);
}

.manage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .btn {
    font-size: 16px;
  }
  img {
    margin-bottom: 1rem;
  }
}
.profile-card {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  background: $white;
}

.capybara-details {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.capybara-link > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.capybara-link > img:hover {
  border: 2px solid $white;
}

.capybara-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}
