.booking-button {
  color: $white !important;
  margin-top: 156px;
}
.booking-form {
  height: 25vw;
  width: 20vw;
  text-align: center;
  border-width: 6px;
  border-color: black;
  box-shadow: 2px;
  padding: 18px;
  background-color: $orange;

}
.form-label {
  font-family: $body-font;
  font-size: 30px;
  color: $white;
  margin-bottom: 32px;
}
