.card-product {
  a {
    color: black;
    text-decoration: none;
  }
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  color: black;
  text-decoration: none;

}

.card-product > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
  text-decoration: none;
}

.card-product a {
  color: black;
  text-decoration: none;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: black;
  text-decoration: none;
}

.card-product-infos .card-product-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  color: black;
  text-decoration: none;
}
.cards {
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 32px;
}
.card-product-image {
  color: black;
  text-decoration: none;
}

.capybara-link {
  text-decoration: none;
}
