.navbar-lewagon {
  justify-content: space-between;
  background-color: #FF9F45;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 64px;
  border-radius: 50%;
}

.links {
  a {
    color: white;
    // font-weight: lighter;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: 0 8px;
  }
  width: 100%;
  padding-left: 72%;
  justify-content: right;
}
